{% extends "AutoWapBundle::base.html.twig" %}
{% set page_id  = ['default', 'app_share'] %}
{% block content %}
<div class="container">
    <div class="share-img">
        <img src="{{ asset('/bundles/autowap/images/app-share.png') }}" />
    </div>
    <div class="text">
        <p>独乐乐不如众乐乐</p>
        <p>分享客户端首次可领取30元优惠券奖励</p>
    </div>

</div>
{% endblock %}

{% block footer %}
{% endblock %}
