{% extends "AutoWapBundle::base.html.twig" %}
{% set page_id  = ['default', 'document'] %}
{% block content %}

    <div class="container" style="line-height:25px">
        <div class="provision">
            <p><b>特别提示:</b></p>
            <p>云杉驾呗是指云杉智慧新能源技术有限公司创建的用于提供电动车租赁信息服务的移动互联网技术平台，该平台适用于云杉智慧新能源技术有限公司及其旗下的各运营子公司向用户提供电动车租赁服务。</p>
            <p>云杉驾呗分时租赁平台以“绿色出行”为核心服务理念，竭诚为会员提供安全便捷高效的全程自动化电动车租赁服务。为明确会员的权利和义务，特制定本协议。</p>
            <p>“会员”、 “用户”及“承租人”，指云杉驾呗服务的使用人。 </p>
            <p>以下所称的“云杉驾呗”将特指实际为用户提供电动车租赁服务的“出租人”，即云杉智慧新能源技术有限公司及其旗下的各运营子公司中的实际电动车租赁服务单位。</p>
            <p><b>您确定，</b>在您完成云杉驾呗会员注册之前，已仔细阅读了本协议。本协议在您接受注册时生效，将成为您和云杉驾呗之间具有法律意义的文件，您和云杉驾呗将同时受到本协议条款的约束。在您注册成功后，云杉驾呗将分配给您一个会员账号，您将自行设置密码。此外，该账号和密码由您负责保管；您应当对通过您的会员账号进行的所有活动和事件承担法律责任。</p>
            <p><b>您同意，</b>云杉驾呗有权随时对本条款内容进行单方面的变更，并以在云杉驾呗网站公告的方式予以公布，无需另行单独通知您；若您在本条款内容公告变更后继续使用本服务，表示您已充分阅读、理解并接受修改后的条款内容，也将遵循修改后的条款内容使用本服务；若您不同意修改后的条款内容，您应停止使用本服务。</p>
            <p><b>您声明，</b>您同意接受本条款并注册成为云杉驾呗会员；您是具有法律规定的享有完全民事权利能力和民事行为能力，且能够独立承担民事责任的自然人。<b style="font-size:18px;">不具备前述条件的，请您立即停止注册或使用本服务。 </b></p>
            <p><b>一．会员资格及注册</b></p>
            <p>1. 凡年龄在18周岁（含）以上、持有中华人民共和国有效身份证件（二代身份证）和中华人民共和国有效驾驶执照（准驾车型为C1或C2（含）以上），身份证及驾照有效期必须要超过当次租期的60个自然日及以上可申请入会，暂不支持港澳台及外籍证件入会。</p>
            <p>2. 如果会员的驾照在任何时间被吊销、没收、失效或其状态发生变化，会员必须立即通知云杉驾呗, 且在此期间会员不得使用或预订任何云杉驾呗车辆，否则由此产生后果/责任均由会员自行承担。</p>
            <p>3. 会员账号的所有权归云杉驾呗，会员必须使用本人的有效信息完成注册申请手续后，才可获得云杉驾呗账号的使用权。会员应提供及时、详尽及准确的个人资料，并不断更新注册资料，符合及时、详尽、准确的要求。所有原始键入的资料将作为注册资料。如果因会员注册信息不真实而引起的一切问题及其产生的后果，云杉驾呗不负任何责任，云杉驾呗有权对会员账号进行停封措施的权利。如对云杉驾呗造成损失，云杉驾呗有权追究会员责任及损失。</p>
            <p>4. 会员不得将其账号、密码转让或出借予他人使用。如会员发现其账号遭他人非法使用，应立即通知云杉驾呗。因黑客行为或会员个人的保管疏忽导致账号、密码遭他人非法使用，云杉驾呗将不承担任何责任。</p>
            <p><b>二．会员权利及义务</b></p>
            <p>1. 会员享有使用云杉驾呗产品和服务的权益。所有会员，长、短租自驾租车均不限行驶里程（有固定里程限制的产品除外）。</p>
            <p>2. 会员于租期内享有云杉驾呗车辆的承租用途的使用权，会员承诺其持有中国大陆交管部门核发的并按要求审验的《中华人民共和国机动车驾驶证》。</p>
            <p>3. 会员自行承担车辆电费（请先阅读条款九.4）、停车费和过路过桥等费用（包含但不限于以上自付费项目或因会员原因而产生的费用），自行负责车上人员及财产的安全。会员在使用云杉驾呗车辆时应当严格遵守道路交通规则，独立承担因交通事故产生的相关责任。</p>
            <p>4. 如云杉驾呗车辆出现故障或异常、会员应立即通知云杉驾呗，并到云杉驾呗指定的地点修理。会员不得擅自拆卸、更换原车设备及零件。</p>
            <p>5. 云杉驾呗车辆只能作为自用车辆使用，会员不得将云杉驾呗车辆用于营利性运营、竞赛、抵押、测试、实验、教练等活动；会员不享有转租、转借、抵押、倒卖或其它任何损害车辆所有权和使用权的行为；云杉驾呗车辆不得承载有毒有害及违禁物品，不得酒后驾驶，不得从事违法、违规活动。</p>
            <p>6. 会员必须如实告知或填写相关信息（包括但不限于身份证件、联系方式等），并保证使用车辆期间会员信息所载明的联系方式有效。</p>
            <p>7. 会员还车后由于会员个人原因致使车辆牌照、车钥匙、证件等车内物品丢失，除支付补办相关物品的全部费用外，还应当支付补办相关物品期间给云杉驾呗造成的营业损失，损失费用由会员自行承担，如无故不承担相关费用，相应法律责任由会员承担。</p>
            <p>8.由于因会员自身原因（如：驾驶习惯、误操作、保管不当等）对车辆造成损失，应由会员承担相应及由此带来的一切损失，如无故不承担相关费用，相应法律责任由会员承担。</p>
            <p> 9.会员在使用车辆期间，应保持车辆外观、内饰的整洁、完好。此外，车内禁止携带宠物、海鲜、食醋等会污损内饰及异味较大的物品。在用车期间如产生污损或异味应清洁整洁后还回车辆。如未清理，会员需承担车辆整备费用及造成的损失。</p>
            <p><b>三．会员违约</b></p>
            <p>1．会员在使用云杉驾呗服务时，必须遵守中华人民共和国相关法律法规的规定，会员应同意不会利用本服务进行任何违法或不正当的活动，包括但不限于如下行为：</p>
            <p>（1）提供虚假信息，或盗用他人信息的；</p>
            <p>（2）未按约定用途使用车辆的；</p>
            <p>（3）转卖、抵押、典当、转借、转租或确有证据证明可能存在上述情况时；</p>
            <p>（4）不按协议约定交纳租金及各项费用、使用租赁车辆、保管租赁车辆、归还租赁车辆的；</p>
            <p>（5）会员利用租赁车辆从事违法犯罪活动的；</p>
            <p>（6）擅自改装、更换、拆卸或增设它物的；</p>
            <p>（7）利用任何方式方法危害云杉驾呗平台安全的；</p>
            <p>（8）利用云杉驾呗或其提供的车辆，损害任何第三人合法权益的；</p>
            <p>（9）为任何非法目的而使用网络服务系统；</p>
            <p>（10）对本服务任何部分通过本服务任何部分或使用本服务获得的任何内容，进行复制、拷贝、出售、转售或用于任何其它商业目的。</p>
            <p>（11）复制、发布含有下列内容信息的：</p>
            <p> a. 反对宪法所确定的基本原则的；      </p>
            <p> b. 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一；</p>
            <p> c. 损害国家荣誉和利益；</p>
            <p> d. 煽动民族仇恨、民族歧视，破坏民族团结；</p>
            <p> e. 破坏国家宗教政策，宣扬邪教和封建迷信；</p>
            <p> f. 散布谣言，扰乱社会秩序，破坏社会稳定；</p>
            <p> g. 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪；</p>
            <p> h．侮辱或者诽谤他人，侵害他人合法权利的；</p>
            <p> i．含有虚假、有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、猥亵、或其它道德上令人反感的内容；</p>
            <p> j. 恶意诋毁云杉驾呗的（包括在云杉驾呗平台，以及在其他任何地方）；</p>
            <p> k. 含有法律、法规、规章、条例以及任何具有法律效力之规范所限制或禁止的其他内容的。</p>
            <p>2.因违法违规导致车辆被扣的、不能上路行驶或会员单方不合理原因而导致停运的，自停运之日起，会员需承担停运损失费及违约金，计算标准:时租价格*15小时*停运天数*300%。如有其它损失或罚款等损失由会员承担。</p>
            <p>3. 会员出现上述违约情形时，云杉驾呗有权立即解除本协议，会员已经支付的费用云杉驾呗无须返还，且云杉驾呗有权要求会员赔偿云杉驾呗因此遭受的全部损失。同时，在会员不按照云杉驾呗要求归还车辆时，云杉驾呗有权利使用备用的车辆钥匙将租赁车辆取回，对于车辆中的物品云杉驾呗有权留置或返还，由此而造成会员损失的，云杉驾呗不承担任何赔偿责任。同时，云杉驾呗有权向会员追责或索赔，并且云杉驾呗有权追究当事人的法律责任。</p>
            <p>4. 会员如违约拒不支付拖欠云杉驾呗费用及款项（包含但不限于租金、违章费用及维修费等费用）的，云杉驾呗有权收取按违约部分每天0.3%计算的滞纳金，并且云杉驾呗有权追究当事人的法律责任。</p>
            <p><b>四．服务说明</b></p>
            <p> 1. 云杉驾呗网络服务的具体内容由云杉驾呗根据实际情况提供，云杉驾呗对其提供之服务拥有最终解释权。</p>
            <p>2. 除非本服务协议另有其它明确规定，云杉驾呗在会员注册后所推出的新产品、新功能、新服务，均受到本服务协议之规范。</p>
            <p>3. 鉴于网络服务的特殊性，会员同意云杉驾呗有权不经事先通知，随时变更、中断或终止部分或全部的网络服务（包括收费网络服务）。云杉驾呗不担保网络服务不会中断，对网络服务的及时性、安全性、准确性也都不作担保。</p>
            <p>4.云杉驾呗需要定期或不定期地对提供网络服务的平台或相关的设备进行检修或者维护，如因此类情况而造成网络服务（包括收费网络服务）在合理时间内的中断，云杉驾呗无需为此承担任何责任。云杉驾呗保留不经事先通知为维修保养、升级或其它目的暂停全部或部分的网络服务的权利。</p>
            <p>5. 会员明确同意其使用云杉驾呗网络服务所存在的风险将完全由其自己承担。会员理解并接受下载或通过云杉驾呗服务而链接及得到的资讯、产品及服务均系云杉驾呗自动搜录，云杉驾呗对其合法性概不负责，亦不承担任何法律责任，会员自行承担风险，云杉驾呗不做任何形式的保证, 不保证搜索结果满足会员的要求，不保证搜索服务不中断，对搜索结果的安全性、正确性、及时性、合法性均不做担保。</p>
            <p>6. 云杉驾呗有权于任何时间暂时或永久修改或终止本服务（或其任何部分），而无论其通知与否，云杉驾呗对会员和任何第三人均无需承担任何责任。</p>
            <p>7.终止服务会员同意云杉驾呗有权基于其自行之考虑，因任何理由，包含但不限于长时间未使用，或云杉驾呗认为会员已经违反本协议的文字及精神，终止会员的密码、账号或本服务之使用（或服务之任何部分），并将会员在本服务内任何内容加以移除并删除。会员同意依本协议任何规定提供之本服务，无需进行事先通知即可中断或终止，会员承认并同意，云杉驾呗可立即关闭或删除会员的帐号及会员账号中所有相关信息及文件，及/或禁止继续使用前述文件或本服务。此外，会员同意若本服务之使用被中断或终止或会员的账号及相关信息和文件被关闭或删除，云杉驾呗对会员或任何第三人均不承担任何责任。</p>
            <p>8. 云杉驾呗在会员订单结束后会向会员开具有效等额发票，会员需及时告知开票信息。</p>
            <p>9. 云杉驾呗为会员提供租赁的车辆符合以下标准</p>
            <p>（1）行驶证件原件或复印件齐全有效且为云杉驾呗所有或有使用权；</p>
            <p>（2）已在交通管理部门办理备案手续；</p>
            <p>（3）已按照国家、地市有关规定和本合同约定办理相应保险；</p>
            <p>（4）技术性能良好、符合安全行驶条件；</p>
            <p>（5）车内配备有效的车用灭火器、故障车警示标志牌和必要的维修工具（根据具体车型而定）。</p>
            <p>10.云杉驾呗为了保证会员租赁车辆的车况，我司均安排人员为车辆及附属品等提供全方位的保障服务，保障租赁车辆安全有效地为会员提供服务，我司尽最大可能消除车辆存在的隐患，但不能保证车辆不出现意外情况，为此，我司配有相关的救援流程，通过我司及第三方合作公司为会员提供救援或协助服务。</p>
            <p><b>五．计费规则</b></p>
            <p>1. 车辆租期为15分钟起租，租期小于15分钟的，按15分钟收取车辆租金、不计免赔保险费等费用，最大租期不设上限。</p>
            <p>2. 车辆租金及保险（包含：不计免赔）费用为租车必付费用，订单只以租用时间计费，不收取里程费。</p>
            <p>3. 租金价格实现长、短租分段价格，短租：6小时（含）以内按短租价格计费；长租：超过6小时后超出部分按长租价格计费。实际租金价格及计费方式以云杉驾呗客户端、微信公众号或当期活动政策为准，云杉驾呗有权对价格及定价规则进行调整，且最终解释权归云杉驾呗所有。</p>
            <p>特别提示：会员在下订单时，确认价格及计费规则后再租赁车辆。</p>
            <p><b>六．预订、取、还车说明</b></p>
            <p>1. 预订说明</p>
            <p>会员可以通过在线网站扫码、手机APP会员端以及微信公众号等互联网方式来进行下单取车。</p>
            <p> 2．取车说明</p>
            <p>（1）起租时间按下订单时间计算；取消订单：在下单超过15分钟后未取车，且没有取消订单，则取车时间及费用将按照下订单时间自动开始计算。在一个自然日内（0：00—24：00），可以免费取消两次订单（自下单时间起15分钟内取消订单的），注意：取消订单超过两次（不含两次）的，即使下订单至取消订单在15分钟内的，如再次取消订单都将收取费用，计费标准：从下订单时间起至取消订单的时间计算费用，如不满30分钟按30分钟计算费用。 </p>
            <p>  注：证件有效期须至少超过当次租期的60个自然日及以上（非大陆会员两个月以上）；</p>
            <p>（2）取车时，会员应当确认车辆及附属品的实际状况，如有疑问请会员拍照并且请致电客服。</p>
            <p> 3. 还车说明</p>
            <p>（1）还车时会员应将车辆开回至车场取车位置，还车时间以会员实际操作完成还车流程的时间为准，确认还车后合同终止。目前订单时长不设上限，但云杉驾呗发现会员存在风险时，我司有权终止订单并收回车辆，由此产生的违约责任由会员承担。</p>
            <p>（2）车辆（连同其钥匙和所有的附属物品，包括行驶本，手册，车轮防盗螺母，备胎，充电线等）必须一并归还，并且要保持和租用期开始前一致的状况，如发生丢失或损坏需照价赔偿，相应产生的停运损失费及其它费用（包含但不限于）需一并赔偿。</p>
            <p>（3）会员应在归还车辆时，确保车内无任何个人财务。如还车时，有任何会员的个人财物落在车中，所产生的相应责任由会员个人承担，云杉驾呗不承担任何责任。</p>
            <p>4.未按约定还车说明</p>
            <p>（1）会员结束订单时，应将车辆归还至原取车位置，并确认车辆状态完好，查看无误后在会员端操作还车。</p>
            <p>（2）如会员还车时，未将车辆停放至营业网点指定区域，由此给云杉驾呗造成的一切损失由会员方承担，同时云杉驾呗有权追究会员的法律责任，并有权取消违约会员的租车资质。</p>
            <p> （3）车辆未保持清洁：可以通过常规洗车清除干净的单次收取30元洗车费或实际洗车费用，需要进行专业清洗的按实际产生费用收取费用。</p>
            <p><b>七．保险、事故与救援价格表</b></p>
            <p>  1. 租赁期间因车辆事故导致的侵权或违法及其他间接损失由会员自行承担。</p>
            <p> 2. 云杉驾呗向会员提供的车辆都已投保了交通责任强制险、车损险、盗抢险、第三者责任险（拾万元）、玻璃险、划痕险、司乘险，但在保险理赔范围内有一定的免赔额度（车辆投保保险公司确定的免赔费用的金额）。</p>
            <p> 3. 会员下单租车后租金中含有不计免赔保险，在理赔额度范围内，且保险公司没有拒赔或免赔的情况下，会员不需要承担费用。</p>
            <p>如车辆出现事故定损额超出车辆第三者责任险理赔费用，超出部分（大于拾万元)由会员承担相应的维修理赔费用。</p>
            <p>4. 无论会员是否购买保险均需及时报警报案并联系我公司客服中心。未能立即报告事故和配合事故调查，会员承担全部责任和费用。</p>
            <p>会员对于在汽车使用期间发生任何保险理赔的问题，有责任全力配合云杉驾呗和保险公司的工作。</p>
            <p>  会员不得隐瞒租赁期内车辆发生的任何意外事故。如发生事故，会员应及时通知云杉驾呗客服中心（400-111-8220电话），并及时向当地公安机关及保险公司报案，以便云杉驾呗协助处理保险理赔事宜。</p>
            <p>5. 如果车辆在租用期内（或在服务期以外的，会员仍然占有或负责车辆的任何时段）被盗，会员必须在得知情况后尽快电话通知云杉驾呗和警方。</p>
            <p> 6. 会员承租车辆期间发生交通事故，须到云杉驾呗指定的地点进行修理，在会员有责任的情况下，修理费由会员先行垫付，车辆停驶期间的租金照常计算；会员垫付的费用中保险公司理赔金额，在保险公司赔付款到账后由云杉驾呗在10个工作日内返还给会员。</p>
            <p>如会员将承租车辆于云杉驾呗指定的地点以外的维修的，由此产生的费用概由会员承担，同时云杉驾呗有权要求会员赔偿云杉驾呗因此遭受的全部损失。</p>
            <p>在会员有责任的情况下须在事故结案一个月内如实提供事故证明、交通管理部门出具的事故责任认定书、事故调解书、损失清单以及有关修理费用等单据。涉及人员伤亡的，会员应在保险公司规定的期限内提交判决书等相应单据；否则，视为会员自愿放弃索赔权益并承担相关损失。</p>
            <p> 7. 在会员有责任的情况下承担一切超出保险公司理赔和/或保险公司拒绝理赔部分的费用，会员该项赔付义务不因各方合作的终止而灭失。若涉及第三方责任，双方应互相协助保险公司追讨应由第三方承担的费用。</p>
            <p>8.  租赁车辆发生各类机件故障、事故车修复，应当到云杉驾呗指定的4S店进行检测及修理。如因会员原因导致损坏，会员应当支付由此造成的修理费用、施救费用及维修期间云杉驾呗的营业损失（损失以实际维修所用时间的日租金为单位计算）由此给云杉驾呗或第三方造成其他损失的，会员应予赔偿。</p>
            <p><b> 注：</b>1.无论会员是否购买保险服务，会员在租赁期间发生有责或无责事故丢失证照需要补办等，为云杉驾呗造成直接损失和间接损失的，导致车辆无法正常运营的云杉驾呗均收取营运损失费用。详见下表《物品损坏、遗失赔偿表》，如表中无相关项目，以实际损失为准。</p>
            <p>2、车辆所有保险涉及保单的第一受益人均为云杉驾呗及其下属分支机构、以及特许合作加盟商。此外，会员租赁车辆期间出险后，均默认会员授权云杉驾呗进行保险理赔。</p>
            <div class="title"><b>物品损坏、遗失赔偿表</b></div>
            <table border="1"  cellspacing="0px" style="text-align:center;margin: 0 auto;">
                <tr>
                    <td>项目</td>
                    <td>补办价格</td>
                    <td>停运损失费</td>
                </tr>
                <tr>
                    <td>行驶本</td>
                    <td>150元</td>
                    <td>2天</td>
                </tr>
                <tr>
                    <td>交强险标</td>
                    <td>50元</td>
                    <td>2天</td>
                </tr>
                <tr>
                    <td>年检标</td>
                    <td>50元</td>
                    <td>2天</td>
                </tr>
                <tr>
                    <td>环保标</td>
                    <td>50元</td>
                    <td>2天</td>
                </tr>
                <tr>
                    <td>车钥匙</td>
                    <td>按实际价格</td>
                    <td>1天</td>
                </tr>
                <tr>
                    <td>千斤顶</td>
                    <td>100元</td>
                    <td>否</td>
                </tr>
                <tr>
                    <td>故障警示牌</td>
                    <td>100元</td>
                    <td>否</td>
                </tr>
                <tr>
                    <td>随车工具</td>
                    <td>200元</td>
                    <td>否</td>
                </tr>
                <tr>
                    <td>备胎</td>
                    <td>按实际价格</td>
                    <td>否</td>
                </tr>
                <tr>
                    <td>充电线</td>
                    <td>按实际价格</td>
                    <td>否</td>
                </tr>
                <tr>
                    <td>停车场停车卡或凭证</td>
                    <td>按实际价格</td>
                    <td>否</td>
                </tr>
                <tr>
                    <td>内饰及内部部件</td>
                    <td>按实际价格</td>
                    <td>按维修时间</td>
                </tr>
            </table>

            <p>停运损失费计算标准：时租价格*15小时*停运天数。</p>
            <p>云杉驾呗的基本保险简介如下表《基本保险覆盖范围》（具体赔偿范围及赔付金额以保险公司条款为准）：</p>
            <div class="title"><b>基本保险覆盖范围</b> </div>
            <table border="1px"  cellspacing="0px" style="text-align:center;margin: 0 auto;">
                <tr>
                    <td>保险项目</td>
                    <td>保额</td>
                    <td>保险保障范围</td>
                    <td>承租方责任</td>
                    <td>保险公司及云杉驾呗责任</td>
                    <td>备注</td>
                </tr>
                <tr>
                    <td rowspan=2>车辆损失</td>
                    <td rowspan=2>车辆实际价值</td>
                    <td>由于发生自然灾害（地震除外）、意外事故、其它保险事故导致的车辆本身的损失</td>
                    <td>1500元</td>
                    <td>1500元以上的部分</td>
                    <td rowspan="3">保险公司免赔/拒赔的部分有会员承担</td>
                </tr>
                <tr>
                    <td>由于发生自然灾害（地震除外）、意外事故、其它保险事故导致的报废</td>
                    <td>15%</td>
                    <td>85%</td>
                </tr>
                <tr>
                    <td>第三方责任险</td>
                    <td>10万-100万元</td>
                    <td>保险车辆发生意外事故，导致第三者承受的损失（具体按承保额理赔）</td>
                    <td>0</td>
                    <td>100%</td>
                </tr>
                <tr>
                    <td>车上人员责任险</td>
                    <td>5万元</td>
                    <td>保险车辆发生保险事故，导致驾驶员人身死亡（驾驶员）</td>
                    <td>0</td>
                    <td>100%</td>
                    <td rowspan="2"></td>
                </tr>
                <tr>
                    <td>全车盗抢险</td>
                    <td>车辆实际价值5万元</td>
                    <td>全车被盗窃、被抢劫或被抢夺而造成的损失</td>
                    <td>20%</td>
                    <td>80%</td>
                </tr>
                <tr>
                    <td>玻璃单独破损险</td>
                    <td>新车原价</td>
                    <td>玻璃单独破损造成的损失</td>
                    <td>0%</td>
                    <td>100%</td>
                    <td></td>
                </tr>
                <tr>
                    <td>涉水险</td>
                    <td>按车辆损失</td>
                    <td>因车辆涉水造成车辆损失</td>
                    <td>100%</td>
                    <td>0</td>
                    <td></td>
                </tr>
                <tr>
                    <td>自燃损失险</td>
                    <td>新车原价</td>
                    <td>保险车辆由于自身原因起火燃烧造成保险车辆的损失</td>
                    <td>0</td>
                    <td>100%</td>
                    <td></td>
                </tr>
            </table>


            <p>9.云杉驾呗向租车会员提供“7X24小时”的救援服务（以当地是否提供救援服务为准））。会员遇到紧急情况，可致电24小时会员服务中心400-111-8220。</p>
            <p>（1）由于车辆本身故障引起的救援费用云杉驾呗承担。</p>

            <p> a）云杉驾呗将委托救援商提供现场紧急修理服务；</p>

            <p> b）若车辆故障无法现场修复，会员可将车辆交与云杉驾呗指定的救援商：</p>

            <p> i．若在云杉驾呗服务点覆盖范围内，会员可到就近云杉驾呗网点处理更换车辆（提供备用车），云杉驾呗优先为会员提供同级别或高级别车辆，租金按原车型计费；如无车辆，将为会员提供低级别车辆（租金按低级别车辆价格计费），如均无法为会员提供解决方案，可选择退单如有具体补偿细节，按当时情况进行处理。</p>

            <p> ii．若在云杉驾呗网点覆盖范围外，云杉驾呗将委托救援商救援车辆，根据会员实际需求联系救援商将备用车拖至救援地点。</p>
            <p>（2）非车辆本身故障导致无法正常行驶的（包含且不限于人为操作失误、保险事故等），救援费用由会员承担（保险公司承担除外）：</p>

            <p> a）会员可自行选择救援商（如当地云杉驾呗无救援服务、超出服务距离及范围等情况下）或由云杉驾呗提供的道路救援服务（以当地是否提供救援服务为准），相关费用由会员自行承担；云杉驾呗提供的道路救援服务的收费标准如下表《道路救援服务内容表》。</p>


            <div class="title"><b>道路救援服务内容表</b></div>
            <table border="1"  cellspacing="0px" style="text-align:center;margin: 0 auto;">
                <tr>
                    <td>服务项目</td>
                    <td>服务描述</td>
                    <td>价格</td>
                </tr>
                <tr>
                    <td>更换备胎</td>
                    <td>租赁车辆因轮胎损坏无法行驶时，提供更换备胎服务（仅拆卸、安装，不含新轮胎费用）（10公里内200元/次，超过10公里加收3元/公里的超里程费）。</td>
                    <td>200元/次</td>
                </tr>
                <tr>
                    <td>开锁服务</td>
                    <td>租赁车辆钥匙遗失，提供开锁服务（补钥匙费用另算）（10公里内100元/次，超过10公里加收3元/公里的超里程费）。</td>
                    <td>100元/次</td>
                </tr>
                <tr>
                    <td>搭电</td>
                    <td>租赁车辆因电瓶缺电无法启动车辆，提供搭电服务（10公里内200元/次，超过10公里加收3元/公里的超里程费）。</td>
                    <td>200元/次</td>
                </tr>
            </table>

            <p>b）若车辆因会员原因未能还到取车网点，而就近还到附近网点的，同时续航里程大于20公里的，会员需要支付100元/次的异点还车手续费，如有其它费用（包括但不限于充电费、停车费）另行计算。</p>

            <p><b>八．违章说明</b></p>
            <p>1. 会员租期内的违章及相关费用等责任由会员自行承担，云杉驾呗将采用短信、微信推送或APP会员端等途径通知会员租期内的车辆违章，届时请致电客服电话询问详情。</p>
            <p> 2. 违反交通安全法规时，如现场被告知（比如违反规定停放车辆，被贴条等），应在被告知的5日内接受处罚；如非现场被告知，云杉驾呗可发出书面通知（包括电子邮件、短信等方式）会员交通违章信息，会员收到通知后，应于3日内自行交纳罚款。如拒绝接受处罚，会员应承担由此给云杉驾呗造成所有的损失，并且云杉驾呗保留追究法律责任的权利。同时，缴纳罚款需要云杉驾呗提供违章车辆行驶证的，会员需缴纳400元押金。自取走行驶证起4小时内需归还，如超过4小时（不含4小时）未归还行驶证的，云杉驾呗将自会员取走行驶证时起计算租金，超过12小时（不含12小时）未归还行驶证的，云杉驾呗将有权将全部押金抵作会员违约金及补办行驶证费用，同时在违章未处理完毕期间，云杉驾呗将暂时取消会员用车资格，直至违章处理完毕并我方通过交管局违章查询平台确认后，方可恢复会员用车资格。</p>
            <p><b>九．免责条款</b></p>
            <p>1. 有下列情况之一的，云杉驾呗不承担任何法律责任：</p>
            <p>（1）由于您将会员密码告知他人或与他人共享注册账户，而导致的任何个人资料泄露的；</p>
            <p>（2）任何由于计算机问题、黑客攻击、计算机病毒侵入或发作、政府管制等造成的暂时性关闭，使网络无法正常运行而造成的个人资料泄露、丢失、被盗用或被窜改；</p>
            <p>（3）由于与本网站链接的其他网站所造成个人资料泄露及由此而导致的任何法律争议和后果；</p>
            <p>（4）因不可抗力而引起的任何后果。</p>
            <p>2. 云杉驾呗对于任何自本公司平台、网站、论坛而获得的他人的信息、内容或者广告宣传等任何资讯（以下统称“信息”），不保证其真实、准确和完整性。如果任何单位或者个人通过上述“信息”而进行任何行为，须自行甄别真伪和谨慎预防风险；否则，无论何种原因，本公司不对任何非与云杉驾呗直接发生的交易和/或行为承担任何直接、间接、附带或衍生的损失和责任。</p>
            <p>3．云杉驾呗将致力于保护您的个人信息，尽全力保证这些信息的安全。由于网上技术的发展突飞猛进，云杉驾呗会随时更新信息保密制度，所有的修订将在云杉驾呗官方渠道公布。</p>
            <p>4．云杉驾呗建议会员谨慎为车行充电，同时会员自行承担充电费用，如因会员为车辆充电导致的人员伤亡、车辆损毁或其他损失均由会员自行承担。</p>
            <p><b>十．远程处理与隐私保护</b></p>
            <p> 1. 汽车载有卫星定位系统（GPS）、行车记录仪、远程处理系统以及记录有关汽车运行的资料。云杉驾呗承诺保护每位会员的隐私。会员同意云杉驾呗检索并使用车载远程处理装置所记录所有的资料。</p>
            <p>2. 云杉驾呗按隐私政策限制其员工及其它有关方使用会员的个人信息，防止非公开个人资料遭到非授权散布。但以下情形除外：</p>
            <p>（1）事先获得会员的明确授权；</p>
            <p>（2）只有透露会员的个人资料，才能提供会员所要求的产品和服务；</p>
            <p>（3）根据有关的法律法规要求；</p>
            <p>（4）按照相关政府主管部门的要求；</p>
            <p>（5）为维护社会公众的利益；</p>
            <p>（6）为维护云杉驾呗的合法权益；</p>
            <p>3. 在不透露单个会员隐私资料的前提下，云杉驾呗有权对整个会员数据库进行分析并对会员数据库进行商业上的利用。</p>
            <p><b>十一．附则</b></p>
            <p>1. 本协议由云杉驾呗制定，云杉驾呗拥有最终解释权。</p>
            <p>2. 本协议的订立、执行和解释及争议的解决均应适用中华人民共和国法律。</p>
            <p>3. 如双方就本协议内容或其执行发生任何争议，双方应尽量友好协商解决；协商不成时，任何一方均可向云杉驾呗所在地的人民法院提起诉讼。</p>
            <p>4. 云杉驾呗未行使或执行本协议任何权利或规定，不构成对前述权利或权利之放弃。</p>
            <p>5. 如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，本协议的其余条款仍应有效并且有约束力。</p>
            <p>6．无论租赁行为发生与否，如有突发状况、行程核实、信息核实、追责、风控（包含但不限于以上情况）等情况发生时，会员为第一责任人，云杉驾呗同时有权追究连带责任人法律责任及善后处理的一切权利。</p>



        </div>


    </div>
{% endblock %}
{% block footer %}
{% endblock %}


