{% extends "AutoAdminBundle::baseAdmin.html.twig" %}
{% set page_id  = ['regionrepairfactory', 'edit'] %}
 {% block content %}
     {% include 'AutoAdminBundle::baseNav.html.twig' with {'nav':'编辑','prenav':'修理厂'} %}
     <div class="ui main-content grid">

         <div class="ten wide column">
             {% include "AutoAdminBundle:RegionRepairFactory:_form.html.twig" %}
         </div>
         <div class="one wide column">
         </div>

     </div>


 {% endblock %}