{% extends "AutoAdminBundle::baseAdmin.html.twig" %}
{% set page_id  = ['insurance', 'new'] %}
 {% block content %}
     {% include 'AutoAdminBundle::baseNav.html.twig' with {'nav':'编辑','prenav':'车辆保险管理'} %}

     <div class="ui main-content grid">


         <div class="ten wide column">
             {% include "AutoAdminBundle:InsuranceRecord:_form.html.twig" %}
         </div>
         <div class="one wide column">
         </div>
     </div>


 {% endblock %}