{% extends "AutoAdminBundle::baseAdmin.html.twig" %}
{% set page_id  = ['illegal', 'new'] %}
 {% block content %}

     {% include 'AutoAdminBundle::baseNav.html.twig' with {'nav':'级别','prenav':'添加'} %}
     <div class="ui main-content grid">

         <div class="ten wide column">
             {% include "AutoAdminBundle:CarLevel:_form.html.twig" %}
         </div>
         <div class="one wide column">
         </div>

         <div class="four wide monitor column">
             <div class="ui secondary vertical pointing menu">
                 <a class="active item">修改级别 </a>
                 <a class="item" href="{{ path('auto_admin_car_level_list') }}">级别列表 </a>
             </div>
         </div>
     </div>


 {% endblock %}