<div class="AreaFilter">

	<select name="province" class="ui dropdown">
	     <option>请选择</option>
	</select>

	<select name="city" class="ui dropdown">
	     <option>请选择</option>
	</select>

	<select name="distinct" class="ui dropdown" style="display:none">
	     <option>请选择</option>
	</select>
</div>