/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td{margin: 0; padding: 0;}
table {border-collapse: collapse;border-spacing: 0;}
th { font-weight:normal;}
body{margin:0 auto; font:14px "Microsoft YaHei"; color:#666; font-family:"Microsoft YaHei";}
input { font:14px "Microsoft YaHei" 微软雅黑; text-indent:4px;*text-indent:0px; font-family:"Microsoft YaHei"; color:#999;}
textarea,input{word-wrap:break-word; word-break:break-all; padding:0px;}

ul,li{list-style-type:none;}

a {outline:none; star:expression(this.onFocus=this.blur());color:#888;text-decoration:none;}
a:hover{color:#e74c3c; text-decoration:none;}
a:active{color:#888;}

img,form,fieldset {border:0 none;}

html{  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); height: 100%;}
body { position: relative;height: 100%;  background-color: #eeeeee;}
a:first-child { display: none; }
.lr-center {transform: translate(-50%,0%); -webkit-transform: translate(-50%,0%); -ms-transform: translate(-50%,0%); -moz-transform: translate(-50%,0%); -o-transform: translate(-50%,0%);}
.tblr-center { transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%);}
.tb-center { transform: translate(0%,-50%); -webkit-transform: translate(0%,-50%); -ms-transform: translate(0%,-50%); -moz-transform: translate(0%,-50%); -o-transform: translate(0%,-50%);}
.clearfix:after{ content: "020";  display: block;  height: 0;  clear: both;  visibility: hidden;  }
.clearfix {zoom: 1;}

.container { background-color: #a52e2e; width: 100%;max-width: 414px; margin: 0 auto; position: absolute; top: 0; left: 0; right: 0;}
.container .national-bg { display: block; width: 100%; }
.container .cont {display: none; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; }
.text { display: block; width: 100%; position: absolute; top: 41.82908545727136%; }
.text img { width: 100%; }
.input-cont { position: absolute; width: 85%; left:7.5% ;top:72.33883058470765%;  }
.box { position: relative; }
.box .box-bg { display: block; width: 100%; }
.box input {
    display: block;
    font-size: 16px;
    background-color: transparent;
    text-align: left;
    outline: none;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 5%;
    color: #5f8dff;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-size: 16px;
    color:#5f8dff;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    font-size: 16px;
    color:#5f8dff;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    font-size: 16px;
    color:#5f8dff;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    font-size: 16px;
    color:#5f8dff;
}

.box.btn { margin-top: 25px; }
.box .error {display: none; position: absolute; width: 90%; left: 5%; bottom: -25px; height: 25px;line-height: 25px; font-size: 12px; color: #f15353; }
.show { display: block !important; }
.page2 .sutext { width: 100%; display: block; position: absolute; top:55.09745127436282%; }
.page2 .sutext img { display: block; width: 100%; }
.page2 .down-app { position: absolute; width:21.73333333333333%; left: 50%; top:73.61319340329835%; }
.page2 .down-app img { width: 100%; }
.a-href { display: inline-block !important; width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; z-index: 100; }
