{% extends "AutoWebBundle::base.html.twig" %}
{% set page_id  = ['default', 'index'] %}
{% block content %}
<div class="content clearfix">
		<div class="head-icon">
			<img src="{{ asset('/bundles/autoweb/images/icon.png') }}"/>
		</div>
		<div class="text color-white">
			<p class="text-1">电动·分时·共享</p>
		</div>
		<div class="text-cont1 color-white clearfix">
				<p class="text-2">一辆<span class="color-green">EV</span> 一种<span class="color-green">态度</span></p>
				<p class="text-3">绿色环保·乐享出行</p>
			</div>
	</div>
{% endblock %}

