{% extends "AutoWapBundle::base.html.twig" %}
{% set page_id  = ['activity', 'app_return_car'] %}
{% block title %}这就是还呗{% endblock %}
{% block content %}
    <div class="container" style="  line-height:26px;">
        <div class="art-cont">
                <p class="text">为了有更好的用车体验，我们尽可能的设置了更多“还呗”网点，您只要在“还呗”网点租赁的车辆，就可以将车辆在任意的其他“还呗”网点归还，“还呗”网点和普通网点之间的车辆不可以相互还车。</p>
                <p class="text">
                    <span class="title-t">租用“还呗”网点的车辆注意事项：</span>
                </p>
                <p class="text">1. 租赁车辆时，系统会默认您的还车地点为取车地点，你可在下单前或还车前更换还车网点。</p>
                <p class="text">2. 如您要将车辆还到其他的“还呗”网点，建议您下单时预先选择好将要归还的网点，以便我们为您保留还车机会。</p>
                <p class="text">3. 当您要还车的“还呗”网点车位不够时，您只能选择其他的“还呗”网点进行还车。</p>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
