{% extends "AutoWapBundle::base.html.twig" %}
{% set page_id  = ['activity', 'app_protocol'] %}
{% block title %}充值协议{% endblock %}
{% block content %}
    <div class="container">
        <div class="art-cont">
            <article class="art">

                <p class="text">1.尊敬的用户，为保障您的合法权益，请您在参加充值前仔细阅读本协议。在您点击“立即充值”按钮后，我们默认您已经知悉如下活动条款。</p>
                <p class="text">2.余额构成：您实际支付的充值本金加上实际返现金额会构成您的账户余额（人民币）。</p>
                <p class="text">3.充值余额无有效期，用完即止。</p>
                <p class="text">4.余额可用于支付云杉驾呗所有车型服务所产生的费用，但不能用于支付行程中产生的其他第三方费用，也不支持提现、转移、转赠。</p>
                <p class="text">5.发票金额会依据您实际支付的充值本金而开具。</p>
                <p class="text">6.每位参与者的云杉驾呗账号、手机号、身份证号和信用卡号都必须是本人真实有效且唯一的信息，任意信息与其他用户重合都不能参加该活动。活动中，按照云杉驾呗现行的风控规则，一旦发现作弊行为，云杉智行有权取消相关账户活动返现金额、追回作弊所得、回收账号使用权，并保留取消作弊人后续参与云杉智行任何活动的权利，必要时会追究其法律责任。</p>
                <p class="text">7.本次活动的最终解释权归云杉驾呗所有。</p>
            </article>

        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
