<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <title>我爱任性送送送</title>
    <link  rel="stylesheet" href="{{ asset('/bundles/autowap/css/recharge.css') }}"  />
</head>
<body>
<div class="container">
    <div class="top-cont"><img  src="{{ asset('/bundles/autowap/images/recharge-top.png') }}"  /></div>
    <div class="text"><img src="{{ asset('/bundles/autowap/images/recharge-text.png') }}" /></div>
    <div class="foot"><img src="{{ asset('/bundles/autowap/images/recharge-bottom.png') }}" /></div>
</div>
</body>
</html>
