<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <title>社会化传播视频</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/autowap/css/tg0fd.css') }}">

</head>
<body>
<div class="prototcol socialSpread-prototcol">
    <div class="in-cont">
        <div class="pt-cont">
            <p class="title">云杉智行优惠券使用规则</p>
            <div class="pt-text">
                <p>云杉智行优惠券有什么用？</p>
                <p>云杉智行优惠券是云杉智行联合重要合作伙伴推出的回馈用户的活动，领到的优惠券可以在云杉智行客户端中使用。</p>
            </div>
            <div class="pt-text">
                <p>云杉智行优惠券的领取规则</p>
                <p>在活动期间，用户输入手机号后可领取，每个用户（手机号）限领1次，领取后的优惠券会直接充值到对应的云杉智行用户账户（手机号）中，目前仅限北京；由于领取人数多，可能出现优惠券未即时到账的情况，云杉智行将在24小时内自动为您充值，请稍后查看，客服电话400-111-8220。</p>
            </div>
            <div class="pt-text">
                <p>云杉智行优惠券如何查看和使用？</p>
                <p>登录云杉智行客户端后，点击APP中左上角头像，进入“优惠券”，即可看到。未安装、注册云杉智行客户端用户需下载注册。</p>
                <p>确认优惠券已领取后，即可使用云杉智行客户端（驾驶证认证后）进行租车服务，在用车结束后结算车费时，即可使用租车券抵扣车费。
                    同一个用户限使用1张优惠券（同一个账号、同一个手机号、均算作同一个用户）。</p>
            </div>
            <div class="pt-text">
                <p>其他注意事项</p>
                <p>您成功领取优惠券后，您用来领取优惠券的手机号将被我们登记为注册会员，云杉智行车辆租赁会通过短信、邮件或电话等形式向您通知.</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
