{% extends "AutoAdminBundle::baseAdmin.html.twig" %}
{% set page_id  = ['car', 'new'] %}
 {% block content %}
     {% include 'AutoAdminBundle::baseNav.html.twig' with {'nav':'添加车辆','prenav':'租赁车辆'} %}
     <div class="ui main-content grid">

         <div class="ten wide column">
             {% include "AutoAdminBundle:RentalCar:_editform.html.twig" %}
         </div>
         <div class="one wide column">
         </div>
     </div>


 {% endblock %}