{% extends "AutoAdminBundle::baseAdmin.html.twig" %}
{% set page_id  = ['illegal', 'new'] %}
 {% block content %}

     {% include 'AutoAdminBundle::baseNav.html.twig' with {'nav':'添加','prenav':'保养'} %}
     <div class="ui main-content grid">

         <div class="ten wide column">
             {% include "AutoAdminBundle:RentalCar:upkeepForm.html.twig" %}
         </div>
         <div class="one wide column">
         </div>

     </div>


 {% endblock %}