{% extends "AutoMobileBundle::base.html.twig" %}
{% set page_id  = ['document', 'about'] %}
{% block content %}

    <div class="provision">
        <div class="paragraph">
            <p>“云杉驾呗”是云杉智慧旗下创新的电动汽车分时租赁平台，通过移动互联网技术手段，让租车出行更加简单快捷。用户只需使用微信或者下载APP，上传身份证件及驾驶证即可租车，手机开关车门及启动车辆，全程自助。</p>
        </div>
        <div class="paragraph">
            <p>云杉智慧新能源技术有限公司2015年成立于深圳前海，注册资本5亿元（实缴），由知名上市公司杉杉股份（股票代码：600884）牵头投资成立。</p>
        </div>
        <div class="paragraph">
            <p>公司已获得深圳等城市新能源充电设施运营商资质，业务覆盖充电基础设施建设运营和新能源汽车综合运营等领域，致力于成为具有一流专业水准的城市新能源汽车推广运营整体解决方案供应商。</p>
        </div>
        <div class="paragraph">
            <p>云杉智慧团队参与了北京、上海、深圳等地新能源汽车推广应用试点工作，积累了丰富的技术和运营经验。公司在上海地区拥有目前国内最大的纯电动客车运营网络，运营400余台高端电动客车，在上海市场电动客车运营与管理领域处于领先地位。</p>
        </div>
        <div class="paragraph">
            <p>云杉智慧以技术为先导，旨在利用互联网+的模式，重新整合新能源汽车产业链，并采用“车网协同、智能互联、专业运维”的运营模式、以及融资租赁等多种金融创新手段开展新能源汽车运营业务，为新能源汽车用户提供全新的服务体验。</p>
        </div>
        <div class="paragraph">
            <p>截至目前，云杉智慧在深圳东部华侨城、深圳光明智慧城、宁波望春产业园、上海青浦区广场等地区累计建设1000个充电桩并投入运营，总功率超过10000千瓦。</p>
        </div>
        <div class="paragraph">
            <p>未来，云杉智慧计划继续在国内各城市开展新能源汽车综合运营服务，到2018年底投资运营万辆新能源汽车，建设运营10万个充电桩，形成全国性的电动汽车综合运营服务网络。</p>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}