{% extends "AutoMobileBundle::base.html.twig" %}
{% set page_id  = ['document', 'protocol'] %}
{% block title %}奖励规则{% endblock %}
{% block content %}
    <div class="container" style="line-height:25px">
        <div class="provision">
            <p><b>活动简介</b></p>
            <p>即日起，用户首次成功邀请未注册好友后可获得20元优惠卷，对方首次注册并通过身份验证后，邀请人额外再获得5元的驾呗现金奖励，1工作日内自动返入您的账户。</p>
            <p><b> 活动规则：</b></p>
            <p>未通过认证的用户成功邀请并且对方通过身份验证无法获得奖金；</p>
            <p>您邀请的用户填写的必须是从未注册过的用户信息，并且通过身份验证后，才能得到相应的邀请奖励；</p>
            <p>您邀请的好友通过验证后，24小时内奖励会自动返入您的账户；</p>
            <p>被邀请的用户身份证对应的所有手机号共同享有唯一一次的奖励机会，无法多次获得优惠卷；</p>
            <p>一经发现任何违规套取返利的行为，将不予返利、追回相关余额或封停账号，且依法追究其法律责任。 </p>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <div class="footer">
        <div class="foot-row" style="    padding-bottom: 20px;">
            <p class="foot" style="text-align:center;">客服专线(8:30~23:00)：</p>
            <p class="foot" style="text-align:center;"><a class="tel" href="tel:400-111-8220"><span class="blue">400-111-8220</span></a></p>
        </div>
    </div>
{% endblock %}


