<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>api</title>
    <style>
        * {
            outline: none;
            margin: 0;
        }

        @media screen and (min-width:480px) and (max-width:639px) {
            html {
                font-size: 15px
            }

        }

        @media screen and (min-width:640px) and (max-width:719px) {
            html {
                font-size: 20px
            }

        }

        @media screen and (min-width:720px) and (max-width:749px) {
            html {
                font-size: 22.5px
            }

        }

        @media screen and (min-width:750px) and (max-width:799px) {
            html {
                font-size: 23.5px
            }

        }

        @media screen and (min-width:800px) and (max-width:959px) {
            html {
                font-size: 25px
            }

        }

        @media screen and (min-width:960px) and (max-width:1079px) {
            html {
                font-size: 30px
            }

        }

        @media screen and (min-width:1080px) {
            html {
                font-size: 32px
            }

        }
        html, body, div { margin: 0; padding: 0; font-family:'Microsoft YaHei';  }
        body{ background-color: #f3f4f6;}
        html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
        a{ text-decoration: none;color:#fff;}
        ul,li{list-style-type:none;}
        .error { padding: 30px 0 47px; text-align: center;}
        h4 {  font-size: 4rem;  color: #333;  margin-top: 16px;}
        p {  font-size: 2rem;  color: #838383;  }
    </style>

</head>
<body>
<div class="error">
    <h4>404</h4>
    <p>hi,真不巧，此页面离家出走了！！</p>
</div>

</body>
</html>