<table class="ui teal table">
    <thead>
    <tr>
        <th>车型名称</th>
        <th>保养项目</th>
        <th>保养费用</th>
        <th>保养时间</th>
    </tr></thead><tbody>
    {% for record in illegals %}
    <tr>
        <td>{{ record.rentalCar.car.name }}</td>
        <td>{{ record.illegal.name }}</td>
        <td>{{ record.illegalAmount }}元</td>
        <td>{{ record.illegalDate|date('Y-m-d') }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>