{{ form_start(form) }}
<div class="ui form">


    <div class=" field">
        <label>{{ form_label(form.kind) }}</label>
        {{ form_widget(form.kind,{'attr': {'class':'ui dropdown'}}) }}
    </div>
    <button class="ui teal button" type="submit">提交</button>
</div>
{{ form_end(form) }}
