{% extends "AutoAdminBundle::baseAdmin.html.twig" %}
{% set page_id  = ['car', 'new'] %}
 {% block content %}

     {% include 'AutoAdminBundle::baseNav.html.twig' with {'nav':'添加','prenav':'优惠活动'} %}
     <div class="ui main-content grid">


         <div class="ten wide column">
             {% include "AutoAdminBundle:Coupon:_activitykindForm.html.twig" %}
         </div>
         <div class="one wide column">
         </div>

         <div class="four wide monitor column">
             <div class="ui secondary vertical pointing menu">
                 <a class="active item">添加活动发放优惠券类型</a>
             </div>
         </div>
     </div>


 {% endblock %}