{% extends "AutoAdminBundle::baseAdmin.html.twig" %}
{% set page_id  = ['carDiscount', 'edit'] %}
 {% block content %}

     {% include 'AutoAdminBundle::baseNav.html.twig' with {'nav':'编辑','prenav':'车型折扣 '} %}
     <div class="ui main-content grid">


         <div class="ten wide column">
             {% include "AutoAdminBundle:CarDiscount:_form.html.twig" %}
         </div>
         <div class="one wide column">
         </div>

         {#<div class="four wide monitor column">#}
         {#<div class="ui secondary vertical pointing menu">#}
         {#<a class="active item">添加租赁车辆 </a>#}
         {#<a class="item" href="{{ path('auto_admin_rental_price_list') }}">租赁车型定价列表 </a>#}
         {#</div>#}
         {#</div>#}
     </div>


 {% endblock %}