{% extends "AutoAdminBundle::baseAdmin.html.twig" %}
{% set page_id  = ['illegal', 'new'] %}
 {% block content %}

     {% include 'AutoAdminBundle::baseNav.html.twig' with {'nav':'添加','prenav':'carStart设备'} %}
     <div class="ui main-content grid">

         <div class="ten wide column">
             {% include "AutoAdminBundle:Device:_carStartForm.html.twig" %}
         </div>
         <div class="one wide column">
         </div>

         <div class="four wide monitor column">
             <div class="ui secondary vertical pointing menu">
                 <a class="active item">添加carStart设备 </a>
             </div>
         </div>
     </div>


 {% endblock %}