<div class="row">
    <div class="column">
        状态
        <p>
            {{ status.name(rentalOrder) }}
        </p>
    </div>
    <div class="column">
        下单时间
        <p>{{ rentalOrder.createTime }}</p>
    </div>
</div>

