{% extends "AutoAdminBundle::baseAdmin.html.twig" %}
{% set page_id  = ['illegal', 'new'] %}
 {% block content %}

     {% include 'AutoAdminBundle::baseNav.html.twig' with {'nav':'归属公司','prenav':'添加'} %}
     <div class="ui main-content grid">

         <div class="ten wide column">
             {% include "AutoAdminBundle:Company:_form.html.twig" %}
         </div>
         <div class="one wide column">
         </div>

     </div>


 {% endblock %}