{% extends "AutoAdminBundle::baseAdmin.html.twig" %}
{% set page_id  = ['car', 'new'] %}
 {% block content %}

     {% include 'AutoAdminBundle::baseNav.html.twig' with {'nav':'列表','prenav':'运营人员'} %}

     <div class="eight wide column">

         <h4 class="ui horizontal divider header"><i class="tag icon"></i> 运营人员 </h4>

         <table class="ui teal table">
             <thead>
             <tr>
                 <th>姓名</th>
                 <th>电话</th>
             </tr></thead><tbody>
             {% for operator in operators %}
                 <tr>
                     <td>{{ operator.member.name }}</td>
                     <td>{{ operator.member.mobile }}</td>
                 </tr>
             {% endfor %}
             </tbody>
         </table>




     </div>

 {% endblock %}



