{% extends "AutoAdminBundle::baseAdmin.html.twig" %}
{% set page_id  = ['area', 'new'] %}
 {% block content %}

     {% include 'AutoAdminBundle::baseNav.html.twig' with {'nav':'添加','prenav':'地区列表'} %}
     <div class="ui main-content grid">


         <div class="ten wide column">
            {% include "AutoAdminBundle:Area:_form.html.twig" %}
         </div>
         <div class="one wide column">
         </div>

         <div class="four wide monitor column">
             <div class="ui secondary vertical pointing menu">
                 <a class="active item">添加地区 </a>
                 <a class="item" href="{{ path('auto_admin_area_list') }}">地区列表 </a>
             </div>
         </div>
     </div>


 {% endblock %}